<!--<button class="button button-calm" ui-sref="dashboard.company">
  Create Company
</button>
<button class="button button-calm">
  Create User
</button>

<button class="button button-calm">
  Salesman
</button>

<button class="button button-calm">
  Products
</button>
asdasdasdadasd-->

<div class="bar bar-positive">
    <h1 class="title">Salesman App</h1>
    <button class="button button-stable" ng-click="signOut()" ng-show="isLoggedIn">Sign Out</button>
    </div>
    <br><br><br>


<button class="button button-calm" ui-sref="dashboard.createCompany">
  Create Company
</button>



